* {
  box-sizing: border-box;
}

html {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

a {
  text-decoration:none;
}

.small {
  font-size: 150%;
}

.large {
  font-size: 200%;
}

.note {
  font-size: 50%;
}

.clickable:hover {
  background-color: #fff;
  color: #000;
}
.button {
  text-align: center;
  border-color: #fff;
  border: 10px 1px 1px 1px;
  border-style: solid;
  margin: 5px 5px 5px 5px;
  padding: 30px 30px 30px 30px;
  background-color: #000;
  color: #fff;
}

p {
  margin: 0;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}